// $text-main-color: #606266;
$white: #ffffff;
$black: #000000;
// text color
$primary: #303133;
$regulary: #606266;
$placeholder: #C0C4CC;

//border
$base: #DCDFE6;

//main-color
$blue: #424CFF;
$red: #FF4A4A;


